<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.vendigo.acemybatis.util.UserMapper">
    <select id="selectList" resultType="com.github.vendigo.acemybatis.util.User">
        SELECT
        FIRST_NAME as firstName,
        LAST_NAME as lastName,
        EMAIL as email,
        PHONE_NUMBER as phoneNumber,
        CITY as city
        FROM USER
    </select>

    <select id="selectMap" resultType="map">
        SELECT
        FIRST_NAME,
        LAST_NAME,
        EMAIL,
        PHONE_NUMBER,
        CITY
        FROM USER
    </select>

    <select id="count" resultType="int">
        SELECT count(*) FROM USER
    </select>

    <select id="selectReactiveStreamCount" resultType="int">
        SELECT count(*) FROM USER
    </select>

    <select id="selectReactiveStream" resultType="com.github.vendigo.acemybatis.util.User">
        SELECT
        FIRST_NAME as firstName,
        LAST_NAME as lastName,
        EMAIL as email,
        PHONE_NUMBER as phoneNumber,
        CITY as city
        FROM USER
        ORDER BY EMAIL
    </select>

    <select id="selectSimpleStreamWithParams" resultType="com.github.vendigo.acemybatis.util.User">
        SELECT
        FIRST_NAME as firstName,
        LAST_NAME as lastName,
        EMAIL as email,
        PHONE_NUMBER as phoneNumber,
        CITY as city
        FROM USER
        WHERE CITY != #{excludeCity} AND FIRST_NAME != #{excludeName}
    </select>

    <select id="selectSimpleStream" resultType="com.github.vendigo.acemybatis.util.User">
        SELECT
        FIRST_NAME as firstName,
        LAST_NAME as lastName,
        EMAIL as email,
        PHONE_NUMBER as phoneNumber,
        CITY as city
        FROM USER
    </select>

</mapper>