<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.vendigo.acemybatis.test.app.UserMapper">

    <update id="updateOne" parameterType="com.github.vendigo.acemybatis.test.app.User">
        UPDATE USER SET
        FIRST_NAME = #{firstName},
        LAST_NAME = #{lastName},
        PHONE_NUMBER = #{phoneNumber},
        CITY = #{city}
        WHERE email = #{email}
    </update>

    <update id="updateWithParams">
        UPDATE USER SET
        CITY = #{city}
        WHERE email like #{emailLike}
    </update>

    <update id="updateSync" parameterType="com.github.vendigo.acemybatis.test.app.User">
        UPDATE USER SET
        FIRST_NAME = #{firstName},
        LAST_NAME = #{lastName},
        PHONE_NUMBER = #{phoneNumber},
        CITY = #{city}
        WHERE email = #{email}
    </update>

    <update id="updateAsync" parameterType="com.github.vendigo.acemybatis.test.app.User">
        UPDATE USER SET
        FIRST_NAME = #{firstName},
        LAST_NAME = #{lastName},
        PHONE_NUMBER = #{phoneNumber},
        CITY = #{city}
        WHERE email = #{email}
    </update>

    <update id="updateCollector" parameterType="com.github.vendigo.acemybatis.test.app.User">
        UPDATE USER SET
        FIRST_NAME = #{firstName},
        LAST_NAME = #{lastName},
        PHONE_NUMBER = #{phoneNumber},
        CITY = #{city}
        WHERE email = #{email}
    </update>

</mapper>